

.messenger{
    position: fixed;
    z-index: 99;
    bottom: 8%;
    right:8%;
    padding: .5rem;
    padding-bottom: .1rem;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 2px 1px 8px gray;
}
.messenger__figure{
    //background-color: #f2f2f2;
    
}
.messenger__img{
    position: relative;
    z-index: 2;
    border-radius: 100%;
}

.messenger__text{
    position: absolute;
    bottom: -20%;
    left: 3%;
    z-index: 1;
    border-radius: 1rem;
    background-color: #fff;
    color: black;
    font-size: .8rem;
    font-weight: 600;
    box-shadow: 2px 1px 8px gray;
    //text-shadow: 2px 0px 2px black;
    padding: .3rem .5rem;
}